/* CSS for the horizontal navbar */

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #333333;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #000;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

/*  STYLES FOR EACH RESULT  */

h2 {
    text-align: center;
}

/* Style for each team */
#lista-jugadores li {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    margin-right: 30px;
}


/* Team name style */
#lista-jugadores li h3 {
    margin: 0;
    font-size: 20px;
    color: #333;
}

/* Additional information style */
#lista-jugadores li p {
    margin: 5px 0;
    font-size: 16px;
    color: #666;
}

#lista-jugadores p {
    align-content: center;
}

/* STYLES FOR FORM */

.search-player-box {
    width: 80%;
    margin: 20px auto;
    background: #ffffff;
    color: #333;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.search-player-box h2 {
    margin: 0 0 20px;
    padding: 0;
    text-align: center;
    font-size: 24px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 18px;
}

.form-group input[type="text"],
.form-group select {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Center the Save Changes button */
.form-group button[type="submit"] {
    display: block;
    margin: 0 auto; /* Center the button */
    background: #3d1f7f;
    color: #fff;
    font-size: 18px;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 7px;
}

.form-group button[type="submit"]:hover {
    background: #342160;
}


/* CSS for the modal */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 9999; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
}

/* Modal content */
.modal-content {
    background-color: #fefefe;
    margin: 10% auto; /* 10% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, adjust as needed */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    box-sizing: border-box;
}

/* Close button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
